version: '3.8'
services:
  libretranslate:
    image: libretranslate/libretranslate:latest
    container_name: libretranslate
    ports:
      - "5000:5000"
    restart: unless-stopped
    environment:
      - LT_LOAD_ONLY=en,es,fr,de,hi
